/* styles.css */

/* General styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url("Photos/pexels-karolina-grabowska-4709032.jpg"); /* Path to your image */
  background-size: cover; /* Cover the entire screen */
  background-position: center;
  background-attachment: fixed; /* Keep the background fixed */
  /* Prevent repeating the image */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.fade-in {
  animation: fadeIn 0.8s ease-out;
}

.category {
  color: white;
  font-size: larger;
  font-weight: bold;
}
.container-products.fade-category {
  animation: fadeIn 0.8s ease-in-out;
}

footer {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.3s ease-out, transform 1.3s ease-out;
}

body.fade-in footer {
  opacity: 1;
  transform: translateY(0);
}

/* Header styles */
header {
  background-color: #ffe9b9;
  color: #cc4d6a;
  padding: 2px 0;
  text-align: center;
  font-size: larger;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 0;
  position: relative;
}

.Logo {
  font-size: larger;
  font-weight: bold;
  position: absolute;
  left: 30px;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: -6px;
  right: 5px;
  cursor: pointer;
}
.menu-button img {
  position: absolute;
  top: -6px;
  right: 5px;
  cursor: pointer;
}
/* Initially hide the menu */
.hamburgerMenuopened {
  opacity: 0; /* Invisible by default */
  max-height: 0; /* Collapsed height */
  transform: translateY(-200px); /* Start off-screen */
  background-color: #e8d5b4;
  margin-top: 31px;
  overflow: hidden; /* Hide overflow content */
  transition: opacity 0.4s ease, max-height 0.4s ease, transform 0.4s ease;
}

/* When hovering over the hamburger menu */
.hamburger-menu:hover .hamburgerMenuopened {
  opacity: 0.4; /* Make visible */
  max-height: 300px; /* Set enough height to show content, adjust as needed */
  transform: translateY(0);
  margin-top: 31px; /* Slide into place */
  padding: 10px;
  background-color: #5f594f;
}

.hamburger-menu:hover .menu-button img {
  display: none;
  pointer-events: none;
}

.hamburger-menu:hover .welcome-message {
  display: none;
}

.welcome-message {
  text-align: center;
  margin: 0px;
  color: white;
  font-size: larger;
  background-color: #bd8b6565;
  width: 100%;
}

.hamburgerMenuopened a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.hamburgerMenuopened a:hover {
  color: #e8d5b4; /* Add hover effect to the links */
}

.nav-links li {
  margin: 0px 60px;
  color: white;
}

.nav-links li a {
  font-size: larger;
  color: #cc4d6a;
  font-weight: 450;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  transition: color 0.4s ease, box-shadow 0.4s ease;
}

.nav-links li a:hover {
  color: #785858;
  text-shadow: 0 0 8px rgba(120, 88, 88, 0.5);
}

@media (max-width: 820px) {
  .nav-links li a {
    display: none;
  }

  .nav-links {
    margin: 25px 0px;
    flex-direction: column;
  }

  .nav-links li {
    margin: 0px 0px;
    color: white;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .nav-links li a {
    font-size: larger;
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    transition: color 0.4s ease, text-decoration 0.4s ease;
  }

  .nav-links li a:hover {
    color: #f4e1e1;
    text-decoration: underline;
  }
}
/* Main content styles */
main {
  padding: 2px;
  padding-top: 0px;
  min-height: 80vh;
  padding-bottom: 15%;
}

/* Footer styles */
footer {
  background-color: #bd8b65;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: larger;
  z-index: 2;
}

footer a {
  color: rgb(247, 214, 214);
}

footer a:hover {
  color: rgb(248, 198, 198);
}

section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  margin: 15px 0px 5px 0px;
  padding-top: 20px;
}

.container-products {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-top: 30px;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

.container-products div {
  background-color: #fefefe;
  color: rgb(101, 100, 100);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-products div img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px 10px 0px 0px;
  transition: 0.3s ease-in-out opacity;
}

.container-products div img:hover {
  opacity: 0.6;
}

.product-name {
  font-weight: bold;
}

.status a {
  color: rgb(28, 214, 28); /* Change the color to green */
  font-weight: 520;
  margin-left: 0px;
}

.status-outofstock a {
  color: red;
  margin-left: 0px;
}

.container-products div p {
  padding-left: 10px;
}

/*summmer fridays catalog*/
.summerfridays-colors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.summerfridays-colors:first-child {
  background-color: #70423b; /* Color: Brown sugar */
  cursor: pointer;
}

.summerfridays-colors:nth-child(2) {
  background-color: #d74d60; /* Color: Cherry */
  cursor: pointer;
}

.summerfridays-colors:nth-child(3) {
  background-color: #fadadd; /* Color: Pink Sugar*/
  cursor: pointer;
}

.summerfridays-colors:nth-child(4) {
  background-color: #a57c65; /* Color: Vanilla Beige */
  cursor: pointer;
}

.summerfridays-colors:hover {
  opacity: 0.8;
}

/* Gisou's color*/
.gisouLipoil-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.gisouLipoil-buttoncolors:first-child {
  cursor: pointer;
  background-color: #fbc3c8;
}

.gisouLipoil-buttoncolors:nth-child(2) {
  cursor: pointer;
  background-color: #cd1636;
}

.gisouLipoil-buttoncolors:hover {
  opacity: 0.8;
}

/*laneige sleeping mask catalog*/
.laneigeSleepingmask-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.laneigeSleepingmask-buttoncolors:first-child {
  cursor: pointer;
  background-color: #ef85b6;
}

.laneigeSleepingmask-buttoncolors:nth-child(2) {
  cursor: pointer;
  background-color: #c1717e;
}

.laneigeSleepingmask-buttoncolors:hover {
  opacity: 0.8;
}

/*Saie blush catalog*/

.saieBlush-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.saieBlush-buttoncolors:first-child {
  background-color: #e88f96; /* Color: Chilly Mauve Pink */
  cursor: pointer;
}

.saieBlush-buttoncolors:nth-child(2) {
  background: #d98d90; /* Color: Pink Bright Berry */
  cursor: pointer;
}

.saieBlush-buttoncolors:hover {
  opacity: 0.8;
}

/* Saie illuminator catalog*/

.saieIlluminator-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.saieIlluminator-buttoncolors:first-child {
  background-color: #fcd3c0; /* Color: Rose Glow */
  cursor: pointer;
}

.saieIlluminator-buttoncolors:nth-child(2) {
  background: #f0c9af; /* Color: Star glow */
  cursor: pointer;
}

.saieIlluminator-buttoncolors:hover {
  opacity: 0.8;
}

/* Rhode Pocket Blush catalog */
.rhodePocketblush-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.rhodePocketblush-buttoncolors:first-child {
  background-color: #9e3d3b; /* Color: Sleepy Girl */
  cursor: pointer;
}

.rhodePocketblush-buttoncolors:nth-child(2) {
  background: #8a4627; /* Brown that is a little bit lighter */
  cursor: pointer;
}

.rhodePocketblush-buttoncolors:nth-child(3) {
  background: pink; /* Color: Piggy */
  cursor: pointer;
}

.rhodePocketblush-buttoncolors:hover {
  opacity: 0.9;
}

/* Peptide catalog */
.peptideBlush-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.peptideBlush-buttoncolors:first-child {
  background-color: #6e3b3a; /* Color: Sleepy Girl */
  cursor: pointer;
}

.peptideBlush-buttoncolors:nth-child(2) {
  background: #ab1b52; /* Color: Raspberry */
  cursor: pointer;
}

.peptideBlush-buttoncolors:nth-child(3) {
  background: rgb(255, 255, 255); /* Color: unknown*/
  cursor: pointer;
}

.peptideBlush-buttoncolors:hover {
  opacity: 0.8;
}

/* to prevent button from collapsing*/
button {
  display: inline-block;
  padding: 1px;
}

.product {
  position: relative;
}
/* Color displayed */
.Color-displayedCss {
  /* positioning */
  position: absolute;
  right: 15px;
  top: 4px;

  margin-top: 1px;
  color: black;
  opacity: 0.6;
  z-index: 1;

  font-size: smaller;
  font-weight: bold;
  z-index: 1;
}

.hidden {
  display: none;
}

.hidden1 {
  display: none;
}

.category {
  display: block;
  color: #6d4f4fc5;
  padding-right: 0px;
}

.buttonsCategoryWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 5px;
}
.buttonCategory {
  background-color: #bd8b65;
  color: #e8e8e7;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;

  justify-content: center;

  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.4s ease, box-shadow 0.4s ease;
}
.buttonCategory {
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 200px;
}
@media (max-width: 600px) {
  .buttonCategory {
    flex: 1 1 15%;
    max-width: 20%;
  }
}

.buttonCategory:hover {
  text-shadow: 0 0 24px rgba(120, 88, 88, 1);
  color: white;
}

@media (max-width: 560px) {
  .category {
    display: block;
    color: #785858;
    text-align: center;
    margin-bottom: 3px;
  }
}

#coming-soon {
  font-size: 20px;
  font-weight: bold;
  color: #785858;
  text-align: center;
  margin-top: 40px;
}
