/* styles.css */

/* General styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url("Photos/background\ website.jpg"); /* Path to your image */
  background-size: cover; /* Cover the entire screen */
  background-position: center;
  background-attachment: fixed; /* Keep the background fixed */
  /* Prevent repeating the image */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.fade-in {
  animation: fadeIn 0.8s ease-out;
}

.category {
  color: #cc4d6a;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.container-products.fade-category {
  animation: fadeIn 0.8s ease-in-out;
}

footer {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.3s ease-out, transform 1.3s ease-out;
}

body.fade-in footer {
  opacity: 1;
  transform: translateY(0);
}

/* Header styles */
header {
  color: #802626;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}

.Logo {
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 3%;
  justify-content: center;
}

/* Initially hide the menu */

.welcome-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 0px;

  flex-wrap: wrap;

  color: rgb(181, 46, 46);
  font-size: larger;
}
.welcome-message:nth-of-type(2) {
  flex-direction: row;
  padding: 0px 0px 0px 20px;
  margin-top: 0px;
  justify-content: space-between;
  flex: wrap; /* normal for larger screens */
}
@media (max-width: 428px),
  (max-width: 430px),
  (max-width: 440px),
  (max-width: 470px) {
  .welcome-message:nth-of-type(2) {
    flex-direction: column-reverse;
    max-width: 300px;
    text-align: left;
    padding: 0px 20px;
  }

  .welcome-message:nth-of-type(2) img {
    max-width: 70%; /* keep image smaller on tiny screens */
    padding-top: 15%;
    margin-left: 35%;
    height: auto; /* maintain aspect ratio */
  }
}

.text-container {
  background-color: #ecbeb7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  width: 100%;
}
.welcome-message h1 {
  font-size: larger;

  flex-basis: 100%;
}
.welcome-message img {
  max-width: 250px; /* maximum width of the image */
  width: 100%; /* responsive scaling */
  height: auto; /* maintain aspect ratio */
  flex-shrink: 0; /* prevent shrinking too much if the window is narrow */
  padding-bottom: 50px;
}

.welcome-message p {
  max-width: 300px;
}

.welcome-image img {
  justify-content: center;
  max-width: 30%; /* or any size you want */
  height: auto;
}

.carousel-container {
  position: relative;
  width: 250px; /* size of carousel */
  margin: 40px auto;
  overflow: hidden;
  background: none; /* no background */
}
.new-arrivals {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #cc4d6a;
}
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  max-width: 250px; /* smaller images */
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
  background: none; /* makes sure PNG transparency shows */
}

/* Buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  z-index: 2;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-btn.prev {
  left: 0px;
}
.carousel-btn.next {
  right: 0px;
}

/* Main content styles */
main {
  padding: 2px;
  padding-top: 0px;
  min-height: 80vh;
  padding-bottom: 15%;
}

.call-to-action {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #785858;
  margin-top: 40px;
}

/* Footer styles */
footer {
  background-color: #d39c94;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: larger;
  z-index: 2;
}

footer a {
  color: rgb(249, 214, 214);
}

footer a:hover {
  color: rgb(248, 198, 198);
}

section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  margin: 15px 0px 5px 0px;
  padding-top: 20px;
}

.container-products {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-top: 30px;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

.container-products div {
  background-color: #ffffffb0;
  color: rgb(101, 100, 100);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-products div img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px 10px 0px 0px;
  transition: 0.3s ease-in-out opacity;
}

.container-products div img:hover {
  opacity: 0.6;
}

.product-name {
  font-weight: bold;
}

.status a {
  color: rgb(28, 214, 28); /* Change the color to green */
  font-weight: 520;
  margin-left: 0px;
}

.status-outofstock a {
  color: red;
  margin-left: 0px;
}

.container-products div p {
  padding-left: 10px;
}

/*summmer fridays catalog*/
.summerfridays-colors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.summerfridays-colors:first-child {
  background-color: #70423b; /* Color: Brown sugar */
  cursor: pointer;
}

.summerfridays-colors:nth-child(2) {
  background-color: #d74d60; /* Color: Cherry */
  cursor: pointer;
}

.summerfridays-colors:nth-child(3) {
  background-color: #fadadd; /* Color: Pink Sugar*/
  cursor: pointer;
}

.summerfridays-colors:nth-child(4) {
  background-color: #a57c65; /* Color: Vanilla Beige */
  cursor: pointer;
}

.summerfridays-colors:nth-child(5) {
  background-color: #b97443; /* Color: Iced Coffee */
  cursor: pointer;
}

.summerfridays-colors:hover {
  opacity: 0.8;
}

/* Gisou's color*/
.gisouLipoil-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.gisouLipoil-buttoncolors:first-child {
  cursor: pointer;
  background-color: #fbc3c8;
}

.gisouLipoil-buttoncolors:nth-child(2) {
  cursor: pointer;
  background-color: #cd1636;
}

.gisouLipoil-buttoncolors:hover {
  opacity: 0.8;
}

/*laneige sleeping mask catalog*/
.laneigeSleepingmask-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.laneigeSleepingmask-buttoncolors:first-child {
  cursor: pointer;
  background-color: #ef85b6;
}

.laneigeSleepingmask-buttoncolors:nth-child(2) {
  cursor: pointer;
  background-color: #c1717e;
}

.laneigeSleepingmask-buttoncolors:hover {
  opacity: 0.8;
}

/*Saie blush catalog*/

.saieBlush-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.saieBlush-buttoncolors:first-child {
  background-color: #e88f96; /* Color: Chilly Mauve Pink */
  cursor: pointer;
}

.saieBlush-buttoncolors:nth-child(2) {
  background: #d98d90; /* Color: Pink Bright Berry */
  cursor: pointer;
}

.saieBlush-buttoncolors:hover {
  opacity: 0.8;
}

/* Saie illuminator catalog*/

.saieIlluminator-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.saieIlluminator-buttoncolors:first-child {
  background-color: #fcd3c0; /* Color: Rose Glow */
  cursor: pointer;
}

.saieIlluminator-buttoncolors:nth-child(2) {
  background: #f0c9af; /* Color: Star glow */
  cursor: pointer;
}

.saieIlluminator-buttoncolors:hover {
  opacity: 0.8;
}

/* Kayali catalog */
.kayali-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.kayali-buttoncolors:first-child {
  background-color: #bbeac4; /* Color: Pistachio */
  cursor: pointer;
}

.kayali-buttoncolors:nth-child(2) {
  background: pink; /* Color: Marshmallow */
  cursor: pointer;
}

.kayali-buttoncolors:nth-child(3) {
  background: #a83a38; /* Color: Vanilla*/
  cursor: pointer;
}

.kayali-buttoncolors:hover {
  opacity: 0.9;
}

/* Rhode pocket blush catalog */

.rhodePocketblush-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.rhodePocketblush-buttoncolors:first-child {
  background-color: #9e3d3b; /* Color: Sleepy Girl */
  cursor: pointer;
}

.rhodePocketblush-buttoncolors:nth-child(2) {
  background: #8a4627; /* Brown that is a little bit lighter */
  cursor: pointer;
}

.rhodePocketblush-buttoncolors:nth-child(3) {
  background: pink; /* Color: Piggy */
  cursor: pointer;
}

.rhodePocketblush-buttoncolors:hover {
  opacity: 0.9;
}

/* Peptide catalog */
.peptideBlush-buttoncolors {
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.peptideBlush-buttoncolors:first-child {
  background-color: #6e3b3a; /* Color: Sleepy Girl */
  cursor: pointer;
}

.peptideBlush-buttoncolors:nth-child(2) {
  background: #ab1b52; /* Color: Raspberry */
  cursor: pointer;
}

.peptideBlush-buttoncolors:nth-child(3) {
  background: rgb(255, 255, 255); /* Color: unknown*/
  cursor: pointer;
}

.peptideBlush-buttoncolors:hover {
  opacity: 0.8;
}

/* to prevent button from collapsing*/
button {
  display: inline-block;
  padding: 1px;
}

.product {
  position: relative;
}
/* Color displayed */
.Color-displayedCss {
  /* positioning */
  position: absolute;
  right: 15px;
  top: 4px;

  margin-top: 1px;
  color: black;
  opacity: 0.6;
  z-index: 1;

  font-size: smaller;
  font-weight: bold;
  z-index: 1;
}

.hidden {
  display: none;
}

.hidden1 {
  display: none;
}

.buttonsCategoryWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 5px;
}
.buttonCategory {
  background-color: #f8eb71cb;
  color: #cc4d6a;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;

  justify-content: center;

  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.4s ease, box-shadow 0.4s ease;
}
.buttonCategory {
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 200px;
}
@media (max-width: 600px) {
  .buttonCategory {
    flex: 1 1 15%;
    max-width: 20%;
  }
}

.buttonCategory:hover {
  text-shadow: 0 0 24px rgb(120, 88, 88);
  color: rgb(228, 17, 17);
}

@media (max-width: 560px) {
  .category {
    display: block;
    color: #cc4d6a;
    text-align: center;
    margin-bottom: 3px;
  }
}

#coming-soon {
  font-size: 20px;
  font-weight: bold;
  color: #785858;
  text-align: center;
  margin-top: 40px;
}
